

<div class="grid_container">
  <div class="block_1">
    <div class="digital_lab">
      <!-- <img src="../../../../../assets/img-auth/image.png" /> -->
      <h2>Montenegro FileSystem</h2>
    </div>
    <div class="typsa_lab">
      <img src="../../../../../assets/img-auth/logo-grupo-Typsa-300x300-1.png" />
    </div>
  </div>
  <form (ngSubmit)="sendEmailToRecoverPass(passwordRecover)" class="block_2" #passwordRecover="ngForm">

      <div class="logo">
            <img src="../../../../../assets/img-auth/logo-grupo-Typsa-300x300-1.png"  />
      </div>

      <div class="logo_mobile">
        <div class="logo_mobile-typsa">
          <img src="../../../../../assets/img-auth/image.png" />
        </div>
        <div class="logo_mobile-lab">
          <img src="../../../../../assets/img-auth/logo-grupo-Typsa-300x300-1.png" />
        </div>
      </div>

      <div class="input-container">
        <div class="title">
          <h1>
              Enter your email
          </h1>
      </div>

          <div class="input-element">
              <label class="label">Email</label>
              <input ngModel name="user" placeholder="Enter your email" />
          </div>

        <div class="form-button">
          <button type="submit">
            Send recovery email
        </button>
        <span class="form-footer-without-account">
          ¿Do you remember your password?
          <a [routerLink]="['']"  class="form-footer-create-account"><span style="color: #3987fc; font-weight: 900; ">Login</span></a>
      </span>

        </div>
      </div>


  </form>





</div>
