@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: calc(100vh - 64px);
  width: 100%;
  flex-direction: column;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  width: 100%;
}

.username {
  font-size: 20px;font-weight: 600; margin-bottom: 10px;   font-family: 'Roboto', sans-serif;
}
