

<div class="grid_container">
  <div class="block_1">
    <div class="digital_lab">
      <!-- <img src="../../../../../assets/img-auth/image.png" /> -->
      <h2>Montenegro FileSystem</h2>
    </div>
    <div class="typsa_lab">
      <img src="../../../../../assets/img-auth/logo-grupo-Typsa-300x300-1.png" />
    </div>
  </div>
  <form (ngSubmit)="generateANewPassword(recoverForm)" class="block_2" #recoverForm="ngForm">

      <div class="logo">
        <a [routerLink]="['']"> <img src="../../../../../assets/img-auth/logo-grupo-Typsa-300x300-1.png"  /></a>
      </div>

      <div class="logo_mobile">
        <div class="logo_mobile-typsa">
          <img src="../../../../../assets/img-auth/image.png" />
        </div>
        <div class="logo_mobile-lab">
          <img src="../../../../../assets/img-auth/logo-grupo-Typsa-300x300-1.png" />
        </div>
      </div>

      <div class="input-container">
        <div class="title">
          <h2>
              ¡Recover your account!
          </h2>
      </div>

      <div class="input-element">
        <div class="input-element_password">
          <label class="label">Enter your new password</label>
        </div>
        <input ngModel name="pass" type="password" placeholder="Enter your password" />
      </div>

          <div class="input-element">
            <div class="input-element_password">
              <label class="label">Repeat password</label>
            </div>
            <input ngModel name="passRepeated" type="password" placeholder="Enter your password" />
          </div>

          <div class="form-button">
            <button type="submit">
              Create a new password
          </button>
          </div>

      </div>


  </form>





</div>

